In [1]:
import pandas as pd 
import numpy as np

In [2]:
url = "https://api.github.com/repos/pandas-dev/pandas/issues"

In [4]:
pd.read_json(url)

,url,repository_url,labels_url,comments_url,events_url,html_url,id,node_id,number,title,...,closed_at,author_association,active_lock_reason,draft,pull_request,body,reactions,timeline_url,performed_via_github_app,state_reason
0,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/57628,2153017430,PR_kwDOAA0YD85n2oGJ,57628,BUG: Unexpected behaviour when inserting times...,...,NaT,NONE,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,- [x] closes #57596 \r\n- [ ] [Tests added and...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
1,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/57627,2152979508,PR_kwDOAA0YD85n2gcT,57627,"DEPR: remove deprecated units ‘H’, ’T’, and sm...",...,NaT,CONTRIBUTOR,NaN,1.0,{'url': 'https://api.github.com/repos/pandas-d...,xref #54061\r\n\r\n removed deprecated units `...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
2,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/57625,2152961295,PR_kwDOAA0YD85n2c3u,57625,remove check to enforce ES01 errors,...,NaT,CONTRIBUTOR,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,- [x] closes https://github.com/pandas-dev/pan...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
3,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/57624,2152897375,I_kwDOAA0YD86AUptf,57624,Potential regression induced by PR #57534,...,NaT,MEMBER,NaN,NaN,NaN,PR #57534 may have induced a performance regre...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
4,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/57620,2152890684,I_kwDOAA0YD86AUoE8,57620,Potential regression induced by PR #57302,...,NaT,MEMBER,NaN,NaN,NaN,PR #57302 may have induced a performance regre...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
5,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/57618,2152817216,PR_kwDOAA0YD85n2Ajj,57618,Remove inline from khash_python,...,NaT,MEMBER,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,@DeaMariaLeon noted that #57575 caused a sligh...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
6,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/57617,2152726808,I_kwDOAA0YD86AUAEY,57617,ENH: `(Styler|DataFrame).to_typst()`,...,NaT,CONTRIBUTOR,NaN,NaN,NaN,### Feature Type\n\n- [X] Adding new functiona...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
7,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/57616,2152685560,PR_kwDOAA0YD85n1mQp,57616,Doc: resolve GL08 for pandas.Timedelta.microse...,...,NaT,NONE,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,- [x] xref #57443 \r\n- [x] [Tests added and p...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
8,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/57615,2152677179,PR_kwDOAA0YD85n1klm,57615,Doc: fixing RT03 errors for pandas.DataFrame.e...,...,NaT,CONTRIBUTOR,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,All RT03 Errors resolved in the following case...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
9,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/57614,2152670016,PR_kwDOAA0YD85n1jJO,57614,DOC: Add `DataFrame.isetitem` method,...,NaT,CONTRIBUTOR,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,- [x] closes #57602 (Replace xxxx with the Gi...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
10,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/57613,2152662440,PR_kwDOAA0YD85n1hpO,57613,fix SA01 error for pandas.ArrowDtype,...,NaT,CONTRIBUTOR,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,All SA01 Errors resolved in the following case...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
11,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/57612,2152652969,PR_kwDOAA0YD85n1fwA,57612,Doc: Fix PR07 errors for pandas.DataFrame.align,...,NaT,CONTRIBUTOR,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,All PR07 Errors resolved in the following case...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
12,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/57611,2152645787,PR_kwDOAA0YD85n1eW1,57611,Doc: fix PR01 docstring errors for pandas.Cate...,...,NaT,CONTRIBUTOR,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,All PR01 Errors resolved in the following case...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
13,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/57610,2152638814,PR_kwDOAA0YD85n1dA9,57610,Doc: fix ES01 for pandas.CategoricalDtype,...,NaT,CONTRIBUTOR,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,All ES01 Errors resolved in the following case...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
14,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/57609,2152624514,PR_kwDOAA0YD85n1aWl,57609,Doc: resolve GL08 for pandas.core.groupby.Seri...,...,NaT,CONTRIBUTOR,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,All GL08 Errors resolved in the following case...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
15,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/57608,2152610072,I_kwDOAA0YD86ATjkY,57608,BUG: queries on categorical string columns in ...,...,NaT,NONE,NaN,NaN,NaN,### Pandas version checks\n\n- [X] I have chec...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
16,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/57607,2152574835,I_kwDOAA0YD86ATa9z,57607,BUG: Possible bad api side effect of replacing...,...,NaT,CONTRIBUTOR,NaN,NaN,NaN,### Pandas version checks\n\n- [X] I have chec...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
17,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/57606,2152556676,PR_kwDOAA0YD85n1Nou,57606,TYP: misc annotations,...,NaT,MEMBER,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,to pass more of the pandas-stubs tests.,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
18,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/57605,2152525045,PR_kwDOAA0YD85n1Hec,57605,DOC: fix RT03 for CategoricalIndex.set_categor...,...,NaT,CONTRIBUTOR,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,Resolve all RT03 errors for the following case...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
19,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/57604,2152455223,PR_kwDOAA0YD85n06WQ,57604,DOC: ES01 fix for HDFS Methods,...,NaT,NONE,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,All ES01 Errors resolved in the following case...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
20,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/57602,2152384686,I_kwDOAA0YD86ASsiu,57602,DOC: missed doc for `DataFrame.isetitem` in ht...,...,NaT,CONTRIBUTOR,NaN,NaN,NaN,### Pandas version checks\n\n- [X] I have chec...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
21,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/57601,2152336608,PR_kwDOAA0YD85n0kNp,57601,DOC: Fixing GL08 errors for pandas.ExcelFile.s...,...,NaT,NONE,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,Resolved GL08 errors for the following:\r\n\r\...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
22,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/57600,2152302462,PR_kwDOAA0YD85n0dg3,57600,DOC: Whatsnew notable bugfix on groupby behavi...,...,NaT,MEMBER,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,- [ ] closes #xxxx (Replace xxxx with the GitH...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
23,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/57597,2152267240,PR_kwDOAA0YD85n0Wdk,57597,DOC: ES01 fix for to_csv method,...,NaT,NONE,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,All ES01 Errors resolved in the following case...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
24,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/57596,2152250220,I_kwDOAA0YD86ASLts,57596,BUG: Unexpected behaviour when inserting times...,...,NaT,NONE,NaN,NaN,NaN,### Pandas version checks\n\n- [X] I have chec...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
25,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/57594,2151926578,I_kwDOAA0YD86AQ8sy,57594,BUG: df.plot makes a shift to the right if fre...,...,NaT,CONTRIBUTOR,NaN,NaN,NaN,This bug exists on the latest version of panda...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
26,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/57593,2151884557,I_kwDOAA0YD86AQycN,57593,DOC: Documentation website says version 2.2 is...,...,NaT,NONE,NaN,NaN,NaN,### Pandas version checks\n\n- [X] I have chec...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
27,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/57592,2151869476,I_kwDOAA0YD86AQuwk,57592,BUG: DataFrame([Series with different Categori...,...,NaT,MEMBER,NaN,NaN,NaN,```python\r\nIn [1]: import pandas as pd\r\n\r...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
28,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/57591,2151864153,I_kwDOAA0YD86AQtdZ,57591,PERF: groupby.first and groupby.last fallback ...,...,NaT,MEMBER,NaN,NaN,NaN,#57589 showed groupby.first and groupby.last a...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
29,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/57590,2151827239,I_kwDOAA0YD86AQkcn,57590,RLS: 2.2.2,...,NaT,MEMBER,NaN,NaN,NaN,Estimated date: TBD,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN

In [5]:
import requests
data = requests.get(url)

In [6]:
data

In [7]:
data.json()

[{'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/57628',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/57628/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/57628/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/57628/events',
  'html_url': 'https://github.com/pandas-dev/pandas/pull/57628',
  'id': 2153017430,
  'node_id': 'PR_kwDOAA0YD85n2oGJ',
  'number': 57628,
  'title': 'BUG: Unexpected behaviour when inserting timestamps into Series #57596',
  'user': {'login': 'wleong1',
   'id': 122815453,
   'node_id': 'U_kgDOB1ID3Q',
   'avatar_url': 'https://avatars.githubusercontent.com/u/122815453?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/wleong1',
   'html_url': 'https://github.com/wleong1',
   'followers_url': 'https://api.github.com/users/wleong1/followers',
   'following_url': 'https://api.github.com/users/wleong1/following{/other_user}',
   'gists_url': 'https://api.github.com/users/wleong1/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/wleong1/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/wleong1/subscriptions',
   'organizations_url': 'https://api.github.com/users/wleong1/orgs',
   'repos_url': 'https://api.github.com/users/wleong1/repos',
   'events_url': 'https://api.github.com/users/wleong1/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/wleong1/received_events',
   'type': 'User',
   'site_admin': False},
  'labels': [],
  'state': 'open',
  'locked': False,
  'assignee': None,
  'assignees': [],
  'milestone': None,
  'comments': 0,
  'created_at': '2024-02-26T00:25:00Z',
  'updated_at': '2024-02-26T00:32:26Z',
  'closed_at': None,
  'author_association': 'NONE',
  'active_lock_reason': None,
  'draft': False,
  'pull_request': {'url': 'https://api.github.com/repos/pandas-dev/pandas/pulls/57628',
   'html_url': 'https://github.com/pandas-dev/pandas/pull/57628',
   'diff_url': 'https://github.com/pandas-dev/pandas/pull/57628.diff',
   'patch_url': 'https://github.com/pandas-dev/pandas/pull/57628.patch',
   'merged_at': None},
  'body': '- [x] closes #57596 \r\n- [ ] [Tests added and passed](https://pandas.pydata.org/pandas-docs/dev/development/contributing_codebase.html#writing-tests) if fixing a bug or adding a new feature\r\n- [ ] All [code checks passed](https://pandas.pydata.org/pandas-docs/dev/development/contributing_codebase.html#pre-commit).\r\n- [ ] Added [type annotations](https://pandas.pydata.org/pandas-docs/dev/development/contributing_codebase.html#type-hints) to new arguments/methods/functions.\r\n- [x] Added an entry in the latest `doc/source/whatsnew/v2.2.1.rst` file if fixing a bug or adding a new feature.\r\n',
  'reactions': {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/57628/reactions',
   'total_count': 0,
   '+1': 0,
   '-1': 0,
   'laugh': 0,
   'hooray': 0,
   'confused': 0,
   'heart': 0,
   'rocket': 0,
   'eyes': 0},
  'timeline_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/57628/timeline',
  'performed_via_github_app': None,
  'state_reason': None},
 {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/57627',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/57627/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/57627/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/57627/events',
  'html_url': 'https://github.com/pandas-dev/pandas/pull/57627',
  'id': 2152979508,
  'node_id': 'PR_kwDOAA0YD85n2gcT',
  'number': 57627,
  'title': 'DEPR: remove deprecated units ‘H’, ’T’, and smaller from Timedelta, TimedeltaIndex',
  'user': {'login': 'natmokval',
   'id': 91160475,
   'node_id': 'MDQ6VXNlcjkxMTYwNDc1',
   'avatar_url': 'https://avatars.githubusercontent.com/u/91160475?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/natmokval',
   'html_url': 'https://github.com/natmokval',
   'followers_url': 'https://api.github.com/users/natmokval/followers',
   'following_url': 'https://api.github.com/users/natmokval/following{/other_user}',
   'gists_url': 'https://api.github.com/users/natmokval/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/natmokval/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/natmokval/subscriptions',
   'organizations_url': 'https://api.github.com/users/natmokval/orgs',
   'repos_url': 'https://api.github.com/users/natmokval/repos',
   'events_url': 'https://api.github.com/users/natmokval/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/natmokval/received_events',
   'type': 'User',
   'site_admin': False},
  'labels': [{'id': 49597148,
    'node_id': 'MDU6TGFiZWw0OTU5NzE0OA==',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Timedelta',
    'name': 'Timedelta',
    'color': '5319e7',
    'default': False,
    'description': 'Timedelta data type'},
   {'id': 87485152,
    'node_id': 'MDU6TGFiZWw4NzQ4NTE1Mg==',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Deprecate',
    'name': 'Deprecate',
    'color': '5319e7',
    'default': False,
    'description': 'Functionality to remove in pandas'}],
  'state': 'open',
  'locked': False,
  'assignee': None,
  'assignees': [],
  'milestone': None,
  'comments': 0,
  'created_at': '2024-02-25T22:55:17Z',
  'updated_at': '2024-02-25T22:55:48Z',
  'closed_at': None,
  'author_association': 'CONTRIBUTOR',
  'active_lock_reason': None,
  'draft': True,
  'pull_request': {'url': 'https://api.github.com/repos/pandas-dev/pandas/pulls/57627',
   'html_url': 'https://github.com/pandas-dev/pandas/pull/57627',
   'diff_url': 'https://github.com/pandas-dev/pandas/pull/57627.diff',
   'patch_url': 'https://github.com/pandas-dev/pandas/pull/57627.patch',
   'merged_at': None},
  'body': 'xref #54061\r\n\r\n removed deprecated units `"H", "T", "S", "t", "L", "l", "U", "u", "N", "n"` from Timedelta, TimedeltaIndex\r\n',
  'reactions': {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/57627/reactions',
   'total_count': 0,
   '+1': 0,
   '-1': 0,
   'laugh': 0,
   'hooray': 0,
   'confused': 0,
   'heart': 0,
   'rocket': 0,
   'eyes': 0},
  'timeline_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/57627/timeline',
  'performed_via_github_app': None,
  'state_reason': None},
 {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/57625',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/57625/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/57625/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/57625/events',
  'html_url': 'https://github.com/pandas-dev/pandas/pull/57625',
  'id': 2152961295,
  'node_id': 'PR_kwDOAA0YD85n2c3u',
  'number': 57625,
  'title': 'remove check to enforce ES01 errors',
  'user': {'login': 'jordan-d-murphy',
   'id': 35613487,
   'node_id': 'MDQ6VXNlcjM1NjEzNDg3',
   'avatar_url': 'https://avatars.githubusercontent.com/u/35613487?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/jordan-d-murphy',
   'html_url': 'https://github.com/jordan-d-murphy',
   'followers_url': 'https://api.github.com/users/jordan-d-murphy/followers',
   'following_url': 'https://api.github.com/users/jordan-d-murphy/following{/other_user}',
   'gists_url': 'https://api.github.com/users/jordan-d-murphy/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/jordan-d-murphy/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/jordan-d-murphy/subscriptions',
   'organizations_url': 'https://api.github.com/users/jordan-d-murphy/orgs',
   'repos_url': 'https://api.github.com/users/jordan-d-murphy/repos',
   'events_url': 'https://api.github.com/users/jordan-d-murphy/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/jordan-d-murphy/received_events',
   'type': 'User',
   'site_admin': False},
  'labels': [],
  'state': 'open',
  'locked': False,
  'assignee': None,
  'assignees': [],
  'milestone': None,
  'comments': 0,
  'created_at': '2024-02-25T22:04:10Z',
  'updated_at': '2024-02-25T22:04:10Z',
  'closed_at': None,
  'author_association': 'CONTRIBUTOR',
  'active_lock_reason': None,
  'draft': False,
  'pull_request': {'url': 'https://api.github.com/repos/pandas-dev/pandas/pulls/57625',
   'html_url': 'https://github.com/pandas-dev/pandas/pull/57625',
   'diff_url': 'https://github.com/pandas-dev/pandas/pull/57625.diff',
   'patch_url': 'https://github.com/pandas-dev/pandas/pull/57625.patch',
   'merged_at': None},
  'body': '- [x] closes https://github.com/pandas-dev/pandas/issues/57440\r\n- [x] [Tests added and passed](https://pandas.pydata.org/pandas-docs/dev/development/contributing_codebase.html#writing-tests) if fixing a bug or adding a new feature\r\n- [x] All [code checks passed](https://pandas.pydata.org/pandas-docs/dev/development/contributing_codebase.html#pre-commit).\r\n- [ ] Added [type annotations](https://pandas.pydata.org/pandas-docs/dev/development/contributing_codebase.html#type-hints) to new arguments/methods/functions.\r\n- [ ] Added an entry in the latest `doc/source/whatsnew/vX.X.X.rst` file if fixing a bug or adding a new feature.\r\n',
  'reactions': {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/57625/reactions',
   'total_count': 0,
   '+1': 0,
   '-1': 0,
   'laugh': 0,
   'hooray': 0,
   'confused': 0,
   'heart': 0,
   'rocket': 0,
   'eyes': 0},
  'timeline_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/57625/timeline',
  'performed_via_github_app': None,
  'state_reason': None},
 {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/57624',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/57624/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/57624/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/57624/events',
  'html_url': 'https://github.com/pandas-dev/pandas/issues/57624',
  'id': 2152897375,
  'node_id': 'I_kwDOAA0YD86AUptf',
  'number': 57624,
  'title': 'Potential regression induced by PR #57534',
  'user': {'login': 'rhshadrach',
   'id': 45562402,
   'node_id': 'MDQ6VXNlcjQ1NTYyNDAy',
   'avatar_url': 'https://avatars.githubusercontent.com/u/45562402?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/rhshadrach',
   'html_url': 'https://github.com/rhshadrach',
   'followers_url': 'https://api.github.com/users/rhshadrach/followers',
   'following_url': 'https://api.github.com/users/rhshadrach/following{/other_user}',
   'gists_url': 'https://api.github.com/users/rhshadrach/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/rhshadrach/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/rhshadrach/subscriptions',
   'organizations_url': 'https://api.github.com/users/rhshadrach/orgs',
   'repos_url': 'https://api.github.com/users/rhshadrach/repos',
   'events_url': 'https://api.github.com/users/rhshadrach/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/rhshadrach/received_events',
   'type': 'User',
   'site_admin': False},
  'labels': [{'id': 8935311,
    'node_id': 'MDU6TGFiZWw4OTM1MzEx',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Performance',
    'name': 'Performance',
    'color': 'a10c02',
    'default': False,
    'description': 'Memory or execution speed performance'},
   {'id': 32815646,
    'node_id': 'MDU6TGFiZWwzMjgxNTY0Ng==',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Regression',
    'name': 'Regression',
    'color': 'e11d21',
    'default': False,
    'description': 'Functionality that used to work in a prior pandas version'},
   {'id': 1218227310,
    'node_id': 'MDU6TGFiZWwxMjE4MjI3MzEw',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Index',
    'name': 'Index',
    'color': 'e99695',
    'default': False,
    'description': 'Related to the Index class or subclasses'}],
  'state': 'open',
  'locked': False,
  'assignee': None,
  'assignees': [],
  'milestone': {'url': 'https://api.github.com/repos/pandas-dev/pandas/milestones/117',
   'html_url': 'https://github.com/pandas-dev/pandas/milestone/117',
   'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/milestones/117/labels',
   'id': 10539704,
   'node_id': 'MI_kwDOAA0YD84AoNK4',
   'number': 117,
   'title': '2.2.2',
   'description': 'on-merge: backport to 2.2.x',
   'creator': {'login': 'lithomas1',
    'id': 47963215,
    'node_id': 'MDQ6VXNlcjQ3OTYzMjE1',
    'avatar_url': 'https://avatars.githubusercontent.com/u/47963215?v=4',
    'gravatar_id': '',
    'url': 'https://api.github.com/users/lithomas1',
    'html_url': 'https://github.com/lithomas1',
    'followers_url': 'https://api.github.com/users/lithomas1/followers',
    'following_url': 'https://api.github.com/users/lithomas1/following{/other_user}',
    'gists_url': 'https://api.github.com/users/lithomas1/gists{/gist_id}',
    'starred_url': 'https://api.github.com/users/lithomas1/starred{/owner}{/repo}',
    'subscriptions_url': 'https://api.github.com/users/lithomas1/subscriptions',
    'organizations_url': 'https://api.github.com/users/lithomas1/orgs',
    'repos_url': 'https://api.github.com/users/lithomas1/repos',
    'events_url': 'https://api.github.com/users/lithomas1/events{/privacy}',
    'received_events_url': 'https://api.github.com/users/lithomas1/received_events',
    'type': 'User',
    'site_admin': False},
   'open_issues': 38,
   'closed_issues': 3,
   'state': 'open',
   'created_at': '2024-02-10T23:53:00Z',
   'updated_at': '2024-02-26T02:29:59Z',
   'due_on': None,
   'closed_at': None},
  'comments': 0,
  'created_at': '2024-02-25T19:03:33Z',
  'updated_at': '2024-02-25T19:03:33Z',
  'closed_at': None,
  'author_association': 'MEMBER',
  'active_lock_reason': None,
  'body': "PR #57534 may have induced a performance regression. If it was a necessary behavior change, this may have been expected and everything is okay.\n\nPlease check the links below. If any ASVs are parameterized, the combinations of parameters that a regression has been detected for appear as subbullets.\n\n - [ ] [groupby.Apply.time_scalar_function_single_col](https://asv-runner.github.io/asv-collection/pandas/#groupby.Apply.time_scalar_function_single_col)\n   - [ ] [factor=5](https://asv-runner.github.io/asv-collection/pandas/#groupby.Apply.time_scalar_function_single_col?p-factor=5)\n - [ ] [indexing.ChainIndexing.time_chained_indexing](https://asv-runner.github.io/asv-collection/pandas/#indexing.ChainIndexing.time_chained_indexing)\n   - [ ] [mode='warn'](https://asv-runner.github.io/asv-collection/pandas/#indexing.ChainIndexing.time_chained_indexing?p-mode=%27warn%27)\n   - [ ] [mode=None](https://asv-runner.github.io/asv-collection/pandas/#indexing.ChainIndexing.time_chained_indexing?p-mode=None)\n - [ ] [indexing.NumericSeriesIndexing.time_getitem_array](https://asv-runner.github.io/asv-collection/pandas/#indexing.NumericSeriesIndexing.time_getitem_array)\n   - [ ] [dtype=<class 'numpy.int64'>; index_structure='unique_monotonic_inc'](https://asv-runner.github.io/asv-collection/pandas/#indexing.NumericSeriesIndexing.time_getitem_array?p-dtype=%3Cclass%20%27numpy.int64%27%3E&p-index_structure=%27unique_monotonic_inc%27)\n - [ ] [indexing.NumericSeriesIndexing.time_iloc_array](https://asv-runner.github.io/asv-collection/pandas/#indexing.NumericSeriesIndexing.time_iloc_array)\n   - [ ] [dtype=<class 'numpy.int64'>; index_structure='unique_monotonic_inc'](https://asv-runner.github.io/asv-collection/pandas/#indexing.NumericSeriesIndexing.time_iloc_array?p-dtype=%3Cclass%20%27numpy.int64%27%3E&p-index_structure=%27unique_monotonic_inc%27)\n - [ ] [indexing.NumericSeriesIndexing.time_loc_array](https://asv-runner.github.io/asv-collection/pandas/#indexing.NumericSeriesIndexing.time_loc_array)\n   - [ ] [dtype=<class 'numpy.int64'>; index_structure='unique_monotonic_inc'](https://asv-runner.github.io/asv-collection/pandas/#indexing.NumericSeriesIndexing.time_loc_array?p-dtype=%3Cclass%20%27numpy.int64%27%3E&p-index_structure=%27unique_monotonic_inc%27)\n - [ ] [timedelta.TimedeltaIndexing.time_union](https://asv-runner.github.io/asv-collection/pandas/#timedelta.TimedeltaIndexing.time_union)\n\nSubsequent benchmarks may have skipped some commits. The link below lists the commits that are between the two benchmark runs where the regression was identified.\n\n[Commit Range](https://github.com/pandas-dev/pandas/compare/1625d5a9112a0143c1dc59eadab825536e7e1240...2b82b8635d17c3a020e6e40ba72b9cc6a76f3149)\n\ncc @mroeschke\n",
  'reactions': {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/57624/reactions',
   'total_count': 0,
   '+1': 0,
   '-1': 0,
   'laugh': 0,
   'hooray': 0,
   'confused': 0,
   'heart': 0,
   'rocket': 0,
   'eyes': 0},
  'timeline_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/57624/timeline',
  'performed_via_github_app': None,
  'state_reason': None},
 {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/57620',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/57620/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/57620/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/57620/events',
  'html_url': 'https://github.com/pandas-dev/pandas/issues/57620',
  'id': 2152890684,
  'node_id': 'I_kwDOAA0YD86AUoE8',
  'number': 57620,
  'title': 'Potential regression induced by PR #57302',
  'user': {'login': 'rhshadrach',
   'id': 45562402,
   'node_id': 'MDQ6VXNlcjQ1NTYyNDAy',
   'avatar_url': 'https://avatars.githubusercontent.com/u/45562402?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/rhshadrach',
   'html_url': 'https://github.com/rhshadrach',
   'followers_url': 'https://api.github.com/users/rhshadrach/followers',
   'following_url': 'https://api.github.com/users/rhshadrach/following{/other_user}',
   'gists_url': 'https://api.github.com/users/rhshadrach/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/rhshadrach/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/rhshadrach/subscriptions',
   'organizations_url': 'https://api.github.com/users/rhshadrach/orgs',
   'repos_url': 'https://api.github.com/users/rhshadrach/repos',
   'events_url': 'https://api.github.com/users/rhshadrach/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/rhshadrach/received_events',
   'type': 'User',
   'site_admin': False},
  'labels': [{'id': 8935311,
    'node_id': 'MDU6TGFiZWw4OTM1MzEx',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Performance',
    'name': 'Performance',
    'color': 'a10c02',
    'default': False,
    'description': 'Memory or execution speed performance'},
   {'id': 13098779,
    'node_id': 'MDU6TGFiZWwxMzA5ODc3OQ==',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Reshaping',
    'name': 'Reshaping',
    'color': '02d7e1',
    'default': False,
    'description': 'Concat, Merge/Join, Stack/Unstack, Explode'},
   {'id': 32815646,
    'node_id': 'MDU6TGFiZWwzMjgxNTY0Ng==',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Regression',
    'name': 'Regression',
    'color': 'e11d21',
    'default': False,
    'description': 'Functionality that used to work in a prior pandas version'}],

In [8]:
df = data.json()

In [9]:
len(df)

30

In [10]:
df

[{'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/57628',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/57628/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/57628/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/57628/events',
  'html_url': 'https://github.com/pandas-dev/pandas/pull/57628',
  'id': 2153017430,
  'node_id': 'PR_kwDOAA0YD85n2oGJ',
  'number': 57628,
  'title': 'BUG: Unexpected behaviour when inserting timestamps into Series #57596',
  'user': {'login': 'wleong1',
   'id': 122815453,
   'node_id': 'U_kgDOB1ID3Q',
   'avatar_url': 'https://avatars.githubusercontent.com/u/122815453?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/wleong1',
   'html_url': 'https://github.com/wleong1',
   'followers_url': 'https://api.github.com/users/wleong1/followers',
   'following_url': 'https://api.github.com/users/wleong1/following{/other_user}',
   'gists_url': 'https://api.github.com/users/wleong1/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/wleong1/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/wleong1/subscriptions',
   'organizations_url': 'https://api.github.com/users/wleong1/orgs',
   'repos_url': 'https://api.github.com/users/wleong1/repos',
   'events_url': 'https://api.github.com/users/wleong1/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/wleong1/received_events',
   'type': 'User',
   'site_admin': False},
  'labels': [],
  'state': 'open',
  'locked': False,
  'assignee': None,
  'assignees': [],
  'milestone': None,
  'comments': 0,
  'created_at': '2024-02-26T00:25:00Z',
  'updated_at': '2024-02-26T00:32:26Z',
  'closed_at': None,
  'author_association': 'NONE',
  'active_lock_reason': None,
  'draft': False,
  'pull_request': {'url': 'https://api.github.com/repos/pandas-dev/pandas/pulls/57628',
   'html_url': 'https://github.com/pandas-dev/pandas/pull/57628',
   'diff_url': 'https://github.com/pandas-dev/pandas/pull/57628.diff',
   'patch_url': 'https://github.com/pandas-dev/pandas/pull/57628.patch',
   'merged_at': None},
  'body': '- [x] closes #57596 \r\n- [ ] [Tests added and passed](https://pandas.pydata.org/pandas-docs/dev/development/contributing_codebase.html#writing-tests) if fixing a bug or adding a new feature\r\n- [ ] All [code checks passed](https://pandas.pydata.org/pandas-docs/dev/development/contributing_codebase.html#pre-commit).\r\n- [ ] Added [type annotations](https://pandas.pydata.org/pandas-docs/dev/development/contributing_codebase.html#type-hints) to new arguments/methods/functions.\r\n- [x] Added an entry in the latest `doc/source/whatsnew/v2.2.1.rst` file if fixing a bug or adding a new feature.\r\n',
  'reactions': {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/57628/reactions',
   'total_count': 0,
   '+1': 0,
   '-1': 0,
   'laugh': 0,
   'hooray': 0,
   'confused': 0,
   'heart': 0,
   'rocket': 0,
   'eyes': 0},
  'timeline_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/57628/timeline',
  'performed_via_github_app': None,
  'state_reason': None},
 {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/57627',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/57627/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/57627/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/57627/events',
  'html_url': 'https://github.com/pandas-dev/pandas/pull/57627',
  'id': 2152979508,
  'node_id': 'PR_kwDOAA0YD85n2gcT',
  'number': 57627,
  'title': 'DEPR: remove deprecated units ‘H’, ’T’, and smaller from Timedelta, TimedeltaIndex',
  'user': {'login': 'natmokval',
   'id': 91160475,
   'node_id': 'MDQ6VXNlcjkxMTYwNDc1',
   'avatar_url': 'https://avatars.githubusercontent.com/u/91160475?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/natmokval',
   'html_url': 'https://github.com/natmokval',
   'followers_url': 'https://api.github.com/users/natmokval/followers',
   'following_url': 'https://api.github.com/users/natmokval/following{/other_user}',
   'gists_url': 'https://api.github.com/users/natmokval/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/natmokval/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/natmokval/subscriptions',
   'organizations_url': 'https://api.github.com/users/natmokval/orgs',
   'repos_url': 'https://api.github.com/users/natmokval/repos',
   'events_url': 'https://api.github.com/users/natmokval/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/natmokval/received_events',
   'type': 'User',
   'site_admin': False},
  'labels': [{'id': 49597148,
    'node_id': 'MDU6TGFiZWw0OTU5NzE0OA==',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Timedelta',
    'name': 'Timedelta',
    'color': '5319e7',
    'default': False,
    'description': 'Timedelta data type'},
   {'id': 87485152,
    'node_id': 'MDU6TGFiZWw4NzQ4NTE1Mg==',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Deprecate',
    'name': 'Deprecate',
    'color': '5319e7',
    'default': False,
    'description': 'Functionality to remove in pandas'}],
  'state': 'open',
  'locked': False,
  'assignee': None,
  'assignees': [],
  'milestone': None,
  'comments': 0,
  'created_at': '2024-02-25T22:55:17Z',
  'updated_at': '2024-02-25T22:55:48Z',
  'closed_at': None,
  'author_association': 'CONTRIBUTOR',
  'active_lock_reason': None,
  'draft': True,
  'pull_request': {'url': 'https://api.github.com/repos/pandas-dev/pandas/pulls/57627',
   'html_url': 'https://github.com/pandas-dev/pandas/pull/57627',
   'diff_url': 'https://github.com/pandas-dev/pandas/pull/57627.diff',
   'patch_url': 'https://github.com/pandas-dev/pandas/pull/57627.patch',
   'merged_at': None},
  'body': 'xref #54061\r\n\r\n removed deprecated units `"H", "T", "S", "t", "L", "l", "U", "u", "N", "n"` from Timedelta, TimedeltaIndex\r\n',
  'reactions': {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/57627/reactions',
   'total_count': 0,
   '+1': 0,
   '-1': 0,
   'laugh': 0,
   'hooray': 0,
   'confused': 0,
   'heart': 0,
   'rocket': 0,
   'eyes': 0},
  'timeline_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/57627/timeline',
  'performed_via_github_app': None,
  'state_reason': None},
 {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/57625',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/57625/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/57625/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/57625/events',
  'html_url': 'https://github.com/pandas-dev/pandas/pull/57625',
  'id': 2152961295,
  'node_id': 'PR_kwDOAA0YD85n2c3u',
  'number': 57625,
  'title': 'remove check to enforce ES01 errors',
  'user': {'login': 'jordan-d-murphy',
   'id': 35613487,
   'node_id': 'MDQ6VXNlcjM1NjEzNDg3',
   'avatar_url': 'https://avatars.githubusercontent.com/u/35613487?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/jordan-d-murphy',
   'html_url': 'https://github.com/jordan-d-murphy',
   'followers_url': 'https://api.github.com/users/jordan-d-murphy/followers',
   'following_url': 'https://api.github.com/users/jordan-d-murphy/following{/other_user}',
   'gists_url': 'https://api.github.com/users/jordan-d-murphy/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/jordan-d-murphy/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/jordan-d-murphy/subscriptions',
   'organizations_url': 'https://api.github.com/users/jordan-d-murphy/orgs',
   'repos_url': 'https://api.github.com/users/jordan-d-murphy/repos',
   'events_url': 'https://api.github.com/users/jordan-d-murphy/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/jordan-d-murphy/received_events',
   'type': 'User',
   'site_admin': False},
  'labels': [],
  'state': 'open',
  'locked': False,
  'assignee': None,
  'assignees': [],
  'milestone': None,
  'comments': 0,
  'created_at': '2024-02-25T22:04:10Z',
  'updated_at': '2024-02-25T22:04:10Z',
  'closed_at': None,
  'author_association': 'CONTRIBUTOR',
  'active_lock_reason': None,
  'draft': False,
  'pull_request': {'url': 'https://api.github.com/repos/pandas-dev/pandas/pulls/57625',
   'html_url': 'https://github.com/pandas-dev/pandas/pull/57625',
   'diff_url': 'https://github.com/pandas-dev/pandas/pull/57625.diff',
   'patch_url': 'https://github.com/pandas-dev/pandas/pull/57625.patch',
   'merged_at': None},
  'body': '- [x] closes https://github.com/pandas-dev/pandas/issues/57440\r\n- [x] [Tests added and passed](https://pandas.pydata.org/pandas-docs/dev/development/contributing_codebase.html#writing-tests) if fixing a bug or adding a new feature\r\n- [x] All [code checks passed](https://pandas.pydata.org/pandas-docs/dev/development/contributing_codebase.html#pre-commit).\r\n- [ ] Added [type annotations](https://pandas.pydata.org/pandas-docs/dev/development/contributing_codebase.html#type-hints) to new arguments/methods/functions.\r\n- [ ] Added an entry in the latest `doc/source/whatsnew/vX.X.X.rst` file if fixing a bug or adding a new feature.\r\n',
  'reactions': {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/57625/reactions',
   'total_count': 0,
   '+1': 0,
   '-1': 0,
   'laugh': 0,
   'hooray': 0,
   'confused': 0,
   'heart': 0,
   'rocket': 0,
   'eyes': 0},
  'timeline_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/57625/timeline',
  'performed_via_github_app': None,
  'state_reason': None},
 {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/57624',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/57624/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/57624/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/57624/events',
  'html_url': 'https://github.com/pandas-dev/pandas/issues/57624',
  'id': 2152897375,
  'node_id': 'I_kwDOAA0YD86AUptf',
  'number': 57624,
  'title': 'Potential regression induced by PR #57534',
  'user': {'login': 'rhshadrach',
   'id': 45562402,
   'node_id': 'MDQ6VXNlcjQ1NTYyNDAy',
   'avatar_url': 'https://avatars.githubusercontent.com/u/45562402?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/rhshadrach',
   'html_url': 'https://github.com/rhshadrach',
   'followers_url': 'https://api.github.com/users/rhshadrach/followers',
   'following_url': 'https://api.github.com/users/rhshadrach/following{/other_user}',
   'gists_url': 'https://api.github.com/users/rhshadrach/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/rhshadrach/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/rhshadrach/subscriptions',
   'organizations_url': 'https://api.github.com/users/rhshadrach/orgs',
   'repos_url': 'https://api.github.com/users/rhshadrach/repos',
   'events_url': 'https://api.github.com/users/rhshadrach/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/rhshadrach/received_events',
   'type': 'User',
   'site_admin': False},
  'labels': [{'id': 8935311,
    'node_id': 'MDU6TGFiZWw4OTM1MzEx',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Performance',
    'name': 'Performance',
    'color': 'a10c02',
    'default': False,
    'description': 'Memory or execution speed performance'},
   {'id': 32815646,
    'node_id': 'MDU6TGFiZWwzMjgxNTY0Ng==',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Regression',
    'name': 'Regression',
    'color': 'e11d21',
    'default': False,
    'description': 'Functionality that used to work in a prior pandas version'},
   {'id': 1218227310,
    'node_id': 'MDU6TGFiZWwxMjE4MjI3MzEw',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Index',
    'name': 'Index',
    'color': 'e99695',
    'default': False,
    'description': 'Related to the Index class or subclasses'}],
  'state': 'open',
  'locked': False,
  'assignee': None,
  'assignees': [],
  'milestone': {'url': 'https://api.github.com/repos/pandas-dev/pandas/milestones/117',
   'html_url': 'https://github.com/pandas-dev/pandas/milestone/117',
   'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/milestones/117/labels',
   'id': 10539704,
   'node_id': 'MI_kwDOAA0YD84AoNK4',
   'number': 117,
   'title': '2.2.2',
   'description': 'on-merge: backport to 2.2.x',
   'creator': {'login': 'lithomas1',
    'id': 47963215,
    'node_id': 'MDQ6VXNlcjQ3OTYzMjE1',
    'avatar_url': 'https://avatars.githubusercontent.com/u/47963215?v=4',
    'gravatar_id': '',
    'url': 'https://api.github.com/users/lithomas1',
    'html_url': 'https://github.com/lithomas1',
    'followers_url': 'https://api.github.com/users/lithomas1/followers',
    'following_url': 'https://api.github.com/users/lithomas1/following{/other_user}',
    'gists_url': 'https://api.github.com/users/lithomas1/gists{/gist_id}',
    'starred_url': 'https://api.github.com/users/lithomas1/starred{/owner}{/repo}',
    'subscriptions_url': 'https://api.github.com/users/lithomas1/subscriptions',
    'organizations_url': 'https://api.github.com/users/lithomas1/orgs',
    'repos_url': 'https://api.github.com/users/lithomas1/repos',
    'events_url': 'https://api.github.com/users/lithomas1/events{/privacy}',
    'received_events_url': 'https://api.github.com/users/lithomas1/received_events',
    'type': 'User',
    'site_admin': False},
   'open_issues': 38,
   'closed_issues': 3,
   'state': 'open',
   'created_at': '2024-02-10T23:53:00Z',
   'updated_at': '2024-02-26T02:29:59Z',
   'due_on': None,
   'closed_at': None},
  'comments': 0,
  'created_at': '2024-02-25T19:03:33Z',
  'updated_at': '2024-02-25T19:03:33Z',
  'closed_at': None,
  'author_association': 'MEMBER',
  'active_lock_reason': None,
  'body': "PR #57534 may have induced a performance regression. If it was a necessary behavior change, this may have been expected and everything is okay.\n\nPlease check the links below. If any ASVs are parameterized, the combinations of parameters that a regression has been detected for appear as subbullets.\n\n - [ ] [groupby.Apply.time_scalar_function_single_col](https://asv-runner.github.io/asv-collection/pandas/#groupby.Apply.time_scalar_function_single_col)\n   - [ ] [factor=5](https://asv-runner.github.io/asv-collection/pandas/#groupby.Apply.time_scalar_function_single_col?p-factor=5)\n - [ ] [indexing.ChainIndexing.time_chained_indexing](https://asv-runner.github.io/asv-collection/pandas/#indexing.ChainIndexing.time_chained_indexing)\n   - [ ] [mode='warn'](https://asv-runner.github.io/asv-collection/pandas/#indexing.ChainIndexing.time_chained_indexing?p-mode=%27warn%27)\n   - [ ] [mode=None](https://asv-runner.github.io/asv-collection/pandas/#indexing.ChainIndexing.time_chained_indexing?p-mode=None)\n - [ ] [indexing.NumericSeriesIndexing.time_getitem_array](https://asv-runner.github.io/asv-collection/pandas/#indexing.NumericSeriesIndexing.time_getitem_array)\n   - [ ] [dtype=<class 'numpy.int64'>; index_structure='unique_monotonic_inc'](https://asv-runner.github.io/asv-collection/pandas/#indexing.NumericSeriesIndexing.time_getitem_array?p-dtype=%3Cclass%20%27numpy.int64%27%3E&p-index_structure=%27unique_monotonic_inc%27)\n - [ ] [indexing.NumericSeriesIndexing.time_iloc_array](https://asv-runner.github.io/asv-collection/pandas/#indexing.NumericSeriesIndexing.time_iloc_array)\n   - [ ] [dtype=<class 'numpy.int64'>; index_structure='unique_monotonic_inc'](https://asv-runner.github.io/asv-collection/pandas/#indexing.NumericSeriesIndexing.time_iloc_array?p-dtype=%3Cclass%20%27numpy.int64%27%3E&p-index_structure=%27unique_monotonic_inc%27)\n - [ ] [indexing.NumericSeriesIndexing.time_loc_array](https://asv-runner.github.io/asv-collection/pandas/#indexing.NumericSeriesIndexing.time_loc_array)\n   - [ ] [dtype=<class 'numpy.int64'>; index_structure='unique_monotonic_inc'](https://asv-runner.github.io/asv-collection/pandas/#indexing.NumericSeriesIndexing.time_loc_array?p-dtype=%3Cclass%20%27numpy.int64%27%3E&p-index_structure=%27unique_monotonic_inc%27)\n - [ ] [timedelta.TimedeltaIndexing.time_union](https://asv-runner.github.io/asv-collection/pandas/#timedelta.TimedeltaIndexing.time_union)\n\nSubsequent benchmarks may have skipped some commits. The link below lists the commits that are between the two benchmark runs where the regression was identified.\n\n[Commit Range](https://github.com/pandas-dev/pandas/compare/1625d5a9112a0143c1dc59eadab825536e7e1240...2b82b8635d17c3a020e6e40ba72b9cc6a76f3149)\n\ncc @mroeschke\n",
  'reactions': {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/57624/reactions',
   'total_count': 0,
   '+1': 0,
   '-1': 0,
   'laugh': 0,
   'hooray': 0,
   'confused': 0,
   'heart': 0,
   'rocket': 0,
   'eyes': 0},
  'timeline_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/57624/timeline',
  'performed_via_github_app': None,
  'state_reason': None},
 {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/57620',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/57620/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/57620/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/57620/events',
  'html_url': 'https://github.com/pandas-dev/pandas/issues/57620',
  'id': 2152890684,
  'node_id': 'I_kwDOAA0YD86AUoE8',
  'number': 57620,
  'title': 'Potential regression induced by PR #57302',
  'user': {'login': 'rhshadrach',
   'id': 45562402,
   'node_id': 'MDQ6VXNlcjQ1NTYyNDAy',
   'avatar_url': 'https://avatars.githubusercontent.com/u/45562402?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/rhshadrach',
   'html_url': 'https://github.com/rhshadrach',
   'followers_url': 'https://api.github.com/users/rhshadrach/followers',
   'following_url': 'https://api.github.com/users/rhshadrach/following{/other_user}',
   'gists_url': 'https://api.github.com/users/rhshadrach/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/rhshadrach/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/rhshadrach/subscriptions',
   'organizations_url': 'https://api.github.com/users/rhshadrach/orgs',
   'repos_url': 'https://api.github.com/users/rhshadrach/repos',
   'events_url': 'https://api.github.com/users/rhshadrach/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/rhshadrach/received_events',
   'type': 'User',
   'site_admin': False},
  'labels': [{'id': 8935311,
    'node_id': 'MDU6TGFiZWw4OTM1MzEx',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Performance',
    'name': 'Performance',
    'color': 'a10c02',
    'default': False,
    'description': 'Memory or execution speed performance'},
   {'id': 13098779,
    'node_id': 'MDU6TGFiZWwxMzA5ODc3OQ==',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Reshaping',
    'name': 'Reshaping',
    'color': '02d7e1',
    'default': False,
    'description': 'Concat, Merge/Join, Stack/Unstack, Explode'},
   {'id': 32815646,
    'node_id': 'MDU6TGFiZWwzMjgxNTY0Ng==',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Regression',
    'name': 'Regression',
    'color': 'e11d21',
    'default': False,
    'description': 'Functionality that used to work in a prior pandas version'}],

In [11]:
for i in range(len(df)):
    print(df[i]['id'])

2153017430
2152979508
2152961295
2152897375
2152890684
2152817216
2152726808
2152685560
2152677179
2152670016
2152662440
2152652969
2152645787
2152638814
2152624514
2152610072
2152574835
2152556676
2152525045
2152455223
2152384686
2152336608
2152302462
2152267240
2152250220
2151926578
2151884557
2151869476
2151864153
2151827239

In [14]:
df=pd.DataFrame(df, columns = ['user', 'timeline_url'])

In [15]:
df

,user,timeline_url
0,"{'login': 'wleong1', 'id': 122815453, 'node_id...",https://api.github.com/repos/pandas-dev/pandas...
1,"{'login': 'natmokval', 'id': 91160475, 'node_i...",https://api.github.com/repos/pandas-dev/pandas...
2,"{'login': 'jordan-d-murphy', 'id': 35613487, '...",https://api.github.com/repos/pandas-dev/pandas...
3,"{'login': 'rhshadrach', 'id': 45562402, 'node_...",https://api.github.com/repos/pandas-dev/pandas...
4,"{'login': 'rhshadrach', 'id': 45562402, 'node_...",https://api.github.com/repos/pandas-dev/pandas...
5,"{'login': 'WillAyd', 'id': 609873, 'node_id': ...",https://api.github.com/repos/pandas-dev/pandas...
6,"{'login': 'janosh', 'id': 30958850, 'node_id':...",https://api.github.com/repos/pandas-dev/pandas...
7,"{'login': 'lamdang2k', 'id': 70220760, 'node_i...",https://api.github.com/repos/pandas-dev/pandas...
8,"{'login': 'jordan-d-murphy', 'id': 35613487, '...",https://api.github.com/repos/pandas-dev/pandas...
9,"{'login': 'luke396', 'id': 77875500, 'node_id'...",https://api.github.com/repos/pandas-dev/pandas...
10,"{'login': 'jordan-d-murphy', 'id': 35613487, '...",https://api.github.com/repos/pandas-dev/pandas...
11,"{'login': 'jordan-d-murphy', 'id': 35613487, '...",https://api.github.com/repos/pandas-dev/pandas...
12,"{'login': 'jordan-d-murphy', 'id': 35613487, '...",https://api.github.com/repos/pandas-dev/pandas...
13,"{'login': 'jordan-d-murphy', 'id': 35613487, '...",https://api.github.com/repos/pandas-dev/pandas...
14,"{'login': 'jordan-d-murphy', 'id': 35613487, '...",https://api.github.com/repos/pandas-dev/pandas...
15,"{'login': 'orionbelt', 'id': 6054082, 'node_id...",https://api.github.com/repos/pandas-dev/pandas...
16,"{'login': 'dalejung', 'id': 610115, 'node_id':...",https://api.github.com/repos/pandas-dev/pandas...
17,"{'login': 'twoertwein', 'id': 6618166, 'node_i...",https://api.github.com/repos/pandas-dev/pandas...
18,"{'login': 'bergnerjonas', 'id': 44500888, 'nod...",https://api.github.com/repos/pandas-dev/pandas...
19,"{'login': 'YashpalAhlawat', 'id': 18135348, 'n...",https://api.github.com/repos/pandas-dev/pandas...
20,"{'login': 'anmyachev', 'id': 45976948, 'node_i...",https://api.github.com/repos/pandas-dev/pandas...
21,"{'login': 'thomasdamcevski', 'id': 97948306, '...",https://api.github.com/repos/pandas-dev/pandas...
22,"{'login': 'rhshadrach', 'id': 45562402, 'node_...",https://api.github.com/repos/pandas-dev/pandas...
23,"{'login': 'YashpalAhlawat', 'id': 18135348, 'n...",https://api.github.com/repos/pandas-dev/pandas...
24,"{'login': 'KowalMar', 'id': 145105975, 'node_i...",https://api.github.com/repos/pandas-dev/pandas...
25,"{'login': 'natmokval', 'id': 91160475, 'node_i...",https://api.github.com/repos/pandas-dev/pandas...
26,"{'login': 'billtubbs', 'id': 7958850, 'node_id...",https://api.github.com/repos/pandas-dev/pandas...
27,"{'login': 'mroeschke', 'id': 10647082, 'node_i...",https://api.github.com/repos/pandas-dev/pandas...
28,"{'login': 'rhshadrach', 'id': 45562402, 'node_...",https://api.github.com/repos/pandas-dev/pandas...
29,"{'login': 'lithomas1', 'id': 47963215, 'node_i...",https://api.github.com/repos/pandas-dev/pandas...

In [16]:
df.to_csv('json_info.csv')

In [17]:
#Solving the dataset

df = pd.read_csv("https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv")

In [18]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [19]:
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [20]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [21]:
df.tail()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.00,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.00,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.45,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.00,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.75,NaN,Q

In [22]:
df.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [24]:
df.describe() #numerical data

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [25]:
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [26]:
df[['PassengerId', 'Survived', 'Pclass']]

     PassengerId  Survived  Pclass
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
..           ...       ...     ...
886          887         0       2
887          888         1       1
888          889         0       3
889          890         1       1
890          891         0       3

[891 rows x 3 columns]

In [27]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [28]:
df.dtypes == 'object'

PassengerId    False
Survived       False
Pclass         False
Name            True
Sex             True
Age            False
SibSp          False
Parch          False
Ticket          True
Fare           False
Cabin           True
Embarked        True
dtype: bool

In [29]:
df.dtypes[df.dtypes == 'object'].index

Index(['Name', 'Sex', 'Ticket', 'Cabin', 'Embarked'], dtype='object')

In [30]:
df[df.dtypes[df.dtypes == 'object'].index]

,Name,Sex,Ticket,Cabin,Embarked
0,"Braund, Mr. Owen Harris",male,A/5 21171,NaN,S
1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,PC 17599,C85,C
2,"Heikkinen, Miss. Laina",female,STON/O2. 3101282,NaN,S
3,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,113803,C123,S
4,"Allen, Mr. William Henry",male,373450,NaN,S
...,...,...,...,...,...
886,"Montvila, Rev. Juozas",male,211536,NaN,S
887,"Graham, Miss. Margaret Edith",female,112053,B42,S
888,"Johnston, Miss. Catherine Helen ""Carrie""",female,W./C. 6607,NaN,S
889,"Behr, Mr. Karl Howell",male,111369,C148,C
890,"Dooley, Mr. Patrick",male,370376,NaN,Q

In [31]:
df[df.columns[df.dtypes == 'object']]

,Name,Sex,Ticket,Cabin,Embarked
0,"Braund, Mr. Owen Harris",male,A/5 21171,NaN,S
1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,PC 17599,C85,C
2,"Heikkinen, Miss. Laina",female,STON/O2. 3101282,NaN,S
3,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,113803,C123,S
4,"Allen, Mr. William Henry",male,373450,NaN,S
...,...,...,...,...,...
886,"Montvila, Rev. Juozas",male,211536,NaN,S
887,"Graham, Miss. Margaret Edith",female,112053,B42,S
888,"Johnston, Miss. Catherine Helen ""Carrie""",female,W./C. 6607,NaN,S
889,"Behr, Mr. Karl Howell",male,111369,C148,C
890,"Dooley, Mr. Patrick",male,370376,NaN,Q

In [32]:
df[df.dtypes[df.dtypes != 'object'].index].describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [33]:
df[df.columns[df.dtypes != 'object']].describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [34]:
df[df.dtypes[df.dtypes == 'object'].index].describe()

                           Name   Sex  Ticket    Cabin Embarked
count                       891   891     891      204      889
unique                      891     2     681      147        3
top     Braund, Mr. Owen Harris  male  347082  B96 B98        S
freq                          1   577       7        4      644

In [35]:
df.describe(include = 'object')

                           Name   Sex  Ticket    Cabin Embarked
count                       891   891     891      204      889
unique                      891     2     681      147        3
top     Braund, Mr. Owen Harris  male  347082  B96 B98        S
freq                          1   577       7        4      644

In [36]:
df.describe(include = 'all')

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
count,891.000000,891.000000,891.000000,891,891,714.000000,891.000000,891.000000,891,891.000000,204,889
unique,NaN,NaN,NaN,891,2,NaN,NaN,NaN,681,NaN,147,3
top,NaN,NaN,NaN,"Braund, Mr. Owen Harris",male,NaN,NaN,NaN,347082,NaN,B96 B98,S
freq,NaN,NaN,NaN,1,577,NaN,NaN,NaN,7,NaN,4,644
mean,446.000000,0.383838,2.308642,NaN,NaN,29.699118,0.523008,0.381594,NaN,32.204208,NaN,NaN
std,257.353842,0.486592,0.836071,NaN,NaN,14.526497,1.102743,0.806057,NaN,49.693429,NaN,NaN
min,1.000000,0.000000,1.000000,NaN,NaN,0.420000,0.000000,0.000000,NaN,0.000000,NaN,NaN
25%,223.500000,0.000000,2.000000,NaN,NaN,20.125000,0.000000,0.000000,NaN,7.910400,NaN,NaN
50%,446.000000,0.000000,3.000000,NaN,NaN,28.000000,0.000000,0.000000,NaN,14.454200,NaN,NaN
75%,668.500000,1.000000,3.000000,NaN,NaN,38.000000,1.000000,0.000000,NaN,31.000000,NaN,NaN
max,891.000000,1.000000,3.000000,NaN,NaN,80.000000,8.000000,6.000000,NaN,512.329200,NaN,NaN

In [37]:
df.astype('object').describe()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
count,891,891,891,891,891,714.0,891,891,891,891.00,204,889
unique,891,2,3,891,2,88.0,7,7,681,248.00,147,3
top,1,0,3,"Braund, Mr. Owen Harris",male,24.0,0,0,347082,8.05,B96 B98,S
freq,1,549,491,1,577,30.0,608,678,7,43.00,4,644

In [39]:
df.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [40]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [41]:
df[10:100:5]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,NaN,S
20,21,0,2,"Fynney, Mr. Joseph J",male,35.0,0,0,239865,26.0000,NaN,S
25,26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38.0,1,5,347077,31.3875,NaN,S
30,31,0,1,"Uruchurtu, Don. Manuel E",male,40.0,0,0,PC 17601,27.7208,NaN,C
35,36,0,1,"Holverson, Mr. Alexander Oskar",male,42.0,1,0,113789,52.0000,NaN,S
40,41,0,3,"Ahlin, Mrs. Johan (Johanna Persdotter Larsson)",female,40.0,1,0,7546,9.4750,NaN,S
45,46,0,3,"Rogers, Mr. William John",male,NaN,0,0,S.C./A.4. 23567,8.0500,NaN,S
50,51,0,3,"Panula, Master. Juha Niilo",male,7.0,4,1,3101295,39.6875,NaN,S
55,56,1,1,"Woolner, Mr. Hugh",male,NaN,0,0,19947,35.5000,C52,S
60,61,0,3,"Sirayanian, Mr. Orsen",male,22.0,0,0,2669,7.2292,NaN,C
65,66,1,3,"Moubarek, Master. Gerios",male,NaN,1,1,2661,15.2458,NaN,C
70,71,0,2,"Jenkin, Mr. Stephen Curnow",male,32.0,0,0,C.A. 33111,10.5000,NaN,S
75,76,0,3,"Moen, Mr. Sigurd Hansen",male,25.0,0,0,348123,7.6500,F G73,S
80,81,0,3,"Waelens, Mr. Achille",male,22.0,0,0,345767,9.0000,NaN,S
85,86,1,3,"Backstrom, Mrs. Karl Alfred (Maria Mathilda Gu...",female,33.0,3,0,3101278,15.8500,NaN,S
90,91,0,3,"Christmann, Mr. Emil",male,29.0,0,0,343276,8.0500,NaN,S
95,96,0,3,"Shorney, Mr. Charles Joseph",male,NaN,0,0,374910,8.0500,NaN,S

In [42]:
df['new_col'] = "Anjali"

In [43]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,new_col
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,Anjali
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,Anjali
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,Anjali
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,Anjali
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,Anjali
...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S,Anjali
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,Anjali
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S,Anjali
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,Anjali
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q,Anjali

In [44]:
df['family'] = df['SibSp'] + df['Parch']

In [45]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,new_col,family
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,Anjali,1
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,Anjali,1
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,Anjali,0
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,Anjali,1
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,Anjali,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S,Anjali,0
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,Anjali,0
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S,Anjali,3
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,Anjali,0
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q,Anjali,0

In [46]:
df['Pclass']

0      3
1      1
2      3
3      1
4      3
      ..
886    2
887    1
888    3
889    1
890    3
Name: Pclass, Length: 891, dtype: int64

In [47]:
pd.Categorical(df['Pclass'])

[3, 1, 3, 1, 3, ..., 2, 1, 3, 1, 3]
Length: 891
Categories (3, int64): [1, 2, 3]

In [48]:
pd.Categorical(df['Cabin'])

[NaN, 'C85', NaN, 'C123', NaN, ..., NaN, 'B42', NaN, 'C148', NaN]
Length: 891
Categories (147, object): ['A10', 'A14', 'A16', 'A19', ..., 'F38', 'F4', 'G6', 'T']

In [49]:
df['Cabin'].unique()

array([nan, 'C85', 'C123', 'E46', 'G6', 'C103', 'D56', 'A6',
       'C23 C25 C27', 'B78', 'D33', 'B30', 'C52', 'B28', 'C83', 'F33',
       'F G73', 'E31', 'A5', 'D10 D12', 'D26', 'C110', 'B58 B60', 'E101',
       'F E69', 'D47', 'B86', 'F2', 'C2', 'E33', 'B19', 'A7', 'C49', 'F4',
       'A32', 'B4', 'B80', 'A31', 'D36', 'D15', 'C93', 'C78', 'D35',
       'C87', 'B77', 'E67', 'B94', 'C125', 'C99', 'C118', 'D7', 'A19',
       'B49', 'D', 'C22 C26', 'C106', 'C65', 'E36', 'C54',
       'B57 B59 B63 B66', 'C7', 'E34', 'C32', 'B18', 'C124', 'C91', 'E40',
       'T', 'C128', 'D37', 'B35', 'E50', 'C82', 'B96 B98', 'E10', 'E44',
       'A34', 'C104', 'C111', 'C92', 'E38', 'D21', 'E12', 'E63', 'A14',
       'B37', 'C30', 'D20', 'B79', 'E25', 'D46', 'B73', 'C95', 'B38',
       'B39', 'B22', 'C86', 'C70', 'A16', 'C101', 'C68', 'A10', 'E68',
       'B41', 'A20', 'D19', 'D50', 'D9', 'A23', 'B50', 'A26', 'D48',
       'E58', 'C126', 'B71', 'B51 B53 B55', 'D49', 'B5', 'B20', 'F G63',
       'C62 C64', 'E24', 'C90', 'C45', 'E8', 'B101', 'D45', 'C46', 'D30',
       'E121', 'D11', 'E77', 'F38', 'B3', 'D6', 'B82 B84', 'D17', 'A36',
       'B102', 'B69', 'E49', 'C47', 'D28', 'E17', 'A24', 'C50', 'B42',
       'C148'], dtype=object)

In [50]:
df['Cabin'].nunique()

147

In [51]:
df['Cabin'].value_counts()

Cabin
B96 B98        4
G6             4
C23 C25 C27    4
C22 C26        3
F33            3
              ..
E34            1
C7             1
C54            1
E36            1
C148           1
Name: count, Length: 147, dtype: int64

In [52]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,new_col,family
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,Anjali,1
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,Anjali,1
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,Anjali,0
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,Anjali,1
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,Anjali,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S,Anjali,0
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,Anjali,0
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S,Anjali,3
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,Anjali,0
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q,Anjali,0

In [53]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,new_col,family
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,Anjali,1
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,Anjali,1
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,Anjali,0
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,Anjali,1
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,Anjali,0

In [54]:
#Q. How many passengers are less than 5 years old

df[df['Age'] < 5]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,new_col,family
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.00,3,1,349909,21.0750,NaN,S,Anjali,4
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.00,1,1,PP 9549,16.7000,G6,S,Anjali,2
16,17,0,3,"Rice, Master. Eugene",male,2.00,4,1,382652,29.1250,NaN,Q,Anjali,5
43,44,1,2,"Laroche, Miss. Simonne Marie Anne Andree",female,3.00,1,2,SC/Paris 2123,41.5792,NaN,C,Anjali,3
63,64,0,3,"Skoog, Master. Harald",male,4.00,3,2,347088,27.9000,NaN,S,Anjali,5
78,79,1,2,"Caldwell, Master. Alden Gates",male,0.83,0,2,248738,29.0000,NaN,S,Anjali,2
119,120,0,3,"Andersson, Miss. Ellis Anna Maria",female,2.00,4,2,347082,31.2750,NaN,S,Anjali,6
164,165,0,3,"Panula, Master. Eino Viljami",male,1.00,4,1,3101295,39.6875,NaN,S,Anjali,5
171,172,0,3,"Rice, Master. Arthur",male,4.00,4,1,382652,29.1250,NaN,Q,Anjali,5
172,173,1,3,"Johnson, Miss. Eleanor Ileen",female,1.00,1,1,347742,11.1333,NaN,S,Anjali,2
183,184,1,2,"Becker, Master. Richard F",male,1.00,2,1,230136,39.0000,F4,S,Anjali,3
184,185,1,3,"Kink-Heilmann, Miss. Luise Gretchen",female,4.00,0,2,315153,22.0250,NaN,S,Anjali,2
193,194,1,2,"Navratil, Master. Michel M",male,3.00,1,1,230080,26.0000,F2,S,Anjali,2
205,206,0,3,"Strom, Miss. Telma Matilda",female,2.00,0,1,347054,10.4625,G6,S,Anjali,1
261,262,1,3,"Asplund, Master. Edvin Rojj Felix",male,3.00,4,2,347077,31.3875,NaN,S,Anjali,6
297,298,0,1,"Allison, Miss. Helen Loraine",female,2.00,1,2,113781,151.5500,C22 C26,S,Anjali,3
305,306,1,1,"Allison, Master. Hudson Trevor",male,0.92,1,2,113781,151.5500,C22 C26,S,Anjali,3
340,341,1,2,"Navratil, Master. Edmond Roger",male,2.00,1,1,230080,26.0000,F2,S,Anjali,2
348,349,1,3,"Coutts, Master. William Loch ""William""",male,3.00,1,1,C.A. 37671,15.9000,NaN,S,Anjali,2
374,375,0,3,"Palsson, Miss. Stina Viola",female,3.00,3,1,349909,21.0750,NaN,S,Anjali,4
381,382,1,3,"Nakid, Miss. Maria (""Mary"")",female,1.00,0,2,2653,15.7417,NaN,C,Anjali,2
386,387,0,3,"Goodwin, Master. Sidney Leonard",male,1.00,5,2,CA 2144,46.9000,NaN,S,Anjali,7
407,408,1,2,"Richards, Master. William Rowe",male,3.00,1,1,29106,18.7500,NaN,S,Anjali,2
445,446,1,1,"Dodge, Master. Washington",male,4.00,0,2,33638,81.8583,A34,S,Anjali,2
469,470,1,3,"Baclini, Miss. Helene Barbara",female,0.75,2,1,2666,19.2583,NaN,C,Anjali,3
479,480,1,3,"Hirvonen, Miss. Hildur E",female,2.00,0,1,3101298,12.2875,NaN,S,Anjali,1
530,531,1,2,"Quick, Miss. Phyllis May",female,2.00,1,1,26360,26.0000,NaN,S,Anjali,2
618,619,1,2,"Becker, Miss. Marion Louise",female,4.00,2,1,230136,39.0000,F4,S,Anjali,3
642,643,0,3,"Skoog, Miss. Margit Elizabeth",female,2.00,3,2,347088,27.9000,NaN,S,Anjali,5
644,645,1,3,"Baclini, Miss. Eugenie",female,0.75,2,1,2666,19.2583,NaN,C,Anjali,3
691,692,1,3,"Karun, Miss. Manca",female,4.00,0,1,349256,13.4167,NaN,C,Anjali,1
750,751,1,2,"Wells, Miss. Joan",female,4.00,1,1,29103,23.0000,NaN,S,Anjali,2
755,756,1,2,"Hamalainen, Master. Viljo",male,0.67,1,1,250649,14.5000,NaN,S,Anjali,2
788,789,1,3,"Dean, Master. Bertram Vere",male,1.00,1,2,C.A. 2315,20.5750,NaN,S,Anjali,3
803,804,1,3,"Thomas, Master. Assad Alexander",male,0.42,0,1,2625,8.5167,NaN,C,Anjali,1
824,825,0,3,"Panula, Master. Urho Abraham",male,2.00,4,1,3101295,39.6875,NaN,S,Anjali,5
827,828,1,2,"Mallet, Master. Andre",male,1.00,0,2,S.C./PARIS 2079,37.0042,NaN,C,Anjali,2
831,832,1,2,"Richards, Master. George Sibley",male,0.83,1,1,29106,18.7500,NaN,S,Anjali,2
850,851,0,3,"Andersson, Master. Sigvard Harald Elias",male,4.00,4,2,347082,31.2750,NaN,S,Anjali,6
869,870,1,3,"Johnson, Master. Harold Theodor",male,4.00,1,1,347742,11.1333,NaN,S,Anjali,2

In [55]:
len(df[df['Age'] < 5])

40

In [56]:
#no of passenger >18

len(df[df['Age'] > 18])

575

In [57]:
#how many passengers are less than 18 years old

len(df) - len(df[df['Age'] > 18])

316

In [61]:
len(df[df['Age'] <= 18]) ##missing value in age column

139

In [63]:
#Q. How many passengers have paid less than avg fare
df['Fare'].mean()

32.204207968574636

In [68]:
df[df['Fare']<df['Fare'].mean()]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,new_col,family
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,Anjali,1
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,Anjali,0
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,Anjali,0
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q,Anjali,0
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S,Anjali,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S,Anjali,0
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,Anjali,0
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S,Anjali,3
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,Anjali,0
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q,Anjali,0

In [67]:
len(df[df['Fare'] > df['Fare'].mean()])

211

In [72]:
#How many passengers paid 0 fare

df[df['Fare'] == 0].Name

179                 Leonard, Mr. Lionel
263               Harrison, Mr. William
271        Tornquist, Mr. William Henry
277         Parkes, Mr. Francis "Frank"
302     Johnson, Mr. William Cahoone Jr
413      Cunningham, Mr. Alfred Fleming
466               Campbell, Mr. William
481    Frost, Mr. Anthony Wood "Archie"
597                 Johnson, Mr. Alfred
633       Parr, Mr. William Henry Marsh
674          Watson, Mr. Ennis Hastings
732                Knight, Mr. Robert J
806              Andrews, Mr. Thomas Jr
815                    Fry, Mr. Richard
822     Reuchlin, Jonkheer. John George
Name: Name, dtype: object

In [73]:
list(df[df['Fare'] == 0].Name)

['Leonard, Mr. Lionel',
 'Harrison, Mr. William',
 'Tornquist, Mr. William Henry',
 'Parkes, Mr. Francis "Frank"',
 'Johnson, Mr. William Cahoone Jr',
 'Cunningham, Mr. Alfred Fleming',
 'Campbell, Mr. William',
 'Frost, Mr. Anthony Wood "Archie"',
 'Johnson, Mr. Alfred',
 'Parr, Mr. William Henry Marsh',
 'Watson, Mr. Ennis Hastings',
 'Knight, Mr. Robert J',
 'Andrews, Mr. Thomas Jr',
 'Fry, Mr. Richard',
 'Reuchlin, Jonkheer. John George']

In [74]:
#Qhow many passengers are male and female
len(df[df['Sex'] == "male"])

577

In [75]:
len(df[df['Sex'] == "female"])

314

In [77]:
df['Sex'].value_counts()

Sex
male      577
female    314
Name: count, dtype: int64

In [78]:
df['Sex'].value_counts(normalize = True)

Sex
male      0.647587
female    0.352413
Name: proportion, dtype: float64

In [79]:
#Q how many passengers of class 1

df[df['Pclass'] == 1]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,new_col,family
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,Anjali,1
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,Anjali,1
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S,Anjali,0
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S,Anjali,0
23,24,1,1,"Sloper, Mr. William Thompson",male,28.0,0,0,113788,35.5000,A6,S,Anjali,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,11751,52.5542,D35,S,Anjali,2
872,873,0,1,"Carlsson, Mr. Frans Olof",male,33.0,0,0,695,5.0000,B51 B53 B55,S,Anjali,0
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C,Anjali,1
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,Anjali,0
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,Anjali,0

In [80]:
#How many passengers survived


df[df['Survived'] == 1]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,new_col,family
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,Anjali,1
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,Anjali,0
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,Anjali,1
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S,Anjali,2
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C,Anjali,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
875,876,1,3,"Najib, Miss. Adele Kiamie ""Jane""",female,15.0,0,0,2667,7.2250,NaN,C,Anjali,0
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C,Anjali,1
880,881,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",female,25.0,0,1,230433,26.0000,NaN,S,Anjali,1
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,Anjali,0
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,Anjali,0

In [81]:
df['Survived'].value_counts()

Survived
0    549
1    342
Name: count, dtype: int64

In [82]:
df['Survived'].value_counts(normalize = True)

Survived
0    0.616162
1    0.383838
Name: proportion, dtype: float64

In [83]:
#How many females paid more than avg fare


df['Sex'] == 'female'

0      False
1       True
2       True
3       True
4      False
       ...
886    False
887     True
888     True
889    False
890    False
Name: Sex, Length: 891, dtype: bool

In [84]:
df['Fare'].mean()

32.204207968574636

In [85]:
df[(df['Sex'] == 'female') & (df['Fare'] > df['Fare'].mean())]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,new_col,family
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,Anjali,1
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,Anjali,1
31,32,1,1,"Spencer, Mrs. William Augustus (Marie Eugenie)",female,NaN,1,0,PC 17569,146.5208,B78,C,Anjali,1
43,44,1,2,"Laroche, Miss. Simonne Marie Anne Andree",female,3.0,1,2,SC/Paris 2123,41.5792,NaN,C,Anjali,3
52,53,1,1,"Harper, Mrs. Henry Sleeper (Myna Haxtun)",female,49.0,1,0,PC 17572,76.7292,D33,C,Anjali,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
853,854,1,1,"Lines, Miss. Mary Conover",female,16.0,0,1,PC 17592,39.4000,D28,S,Anjali,1
856,857,1,1,"Wick, Mrs. George Dennick (Mary Hitchcock)",female,45.0,1,1,36928,164.8667,NaN,S,Anjali,2
863,864,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",female,NaN,8,2,CA. 2343,69.5500,NaN,S,Anjali,10
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,11751,52.5542,D35,S,Anjali,2
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C,Anjali,1

In [86]:
len(df[(df['Sex'] == 'female') & (df['Fare'] > df['Fare'].mean())])

104

In [87]:
#Q how many passengers are male or who paid greater than avg fare >>or
df[(df['Sex'] == 'male') | (df['Fare'] > df['Fare'].mean())]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,new_col,family
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,Anjali,1
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,Anjali,1
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,Anjali,1
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,Anjali,0
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q,Anjali,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
883,884,0,2,"Banfield, Mr. Frederick James",male,28.0,0,0,C.A./SOTON 34068,10.5000,NaN,S,Anjali,0
884,885,0,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.0500,NaN,S,Anjali,0
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S,Anjali,0
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,Anjali,0
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q,Anjali,0

In [88]:
#Qhow many male passenger paid more than avg >>and

In [89]:
df[(df['Sex'] == 'male') & (df['Fare'] > df['Fare'].mean())]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,new_col,family
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S,Anjali,0
23,24,1,1,"Sloper, Mr. William Thompson",male,28.0,0,0,113788,35.5000,A6,S,Anjali,0
27,28,0,1,"Fortune, Mr. Charles Alexander",male,19.0,3,2,19950,263.0000,C23 C25 C27,S,Anjali,5
34,35,0,1,"Meyer, Mr. Edgar Joseph",male,28.0,1,0,PC 17604,82.1708,NaN,C,Anjali,1
35,36,0,1,"Holverson, Mr. Alexander Oskar",male,42.0,1,0,113789,52.0000,NaN,S,Anjali,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
827,828,1,2,"Mallet, Master. Andre",male,1.0,0,2,S.C./PARIS 2079,37.0042,NaN,C,Anjali,2
838,839,1,3,"Chip, Mr. Chang",male,32.0,0,0,1601,56.4958,NaN,S,Anjali,0
846,847,0,3,"Sage, Mr. Douglas Bullen",male,NaN,8,2,CA. 2343,69.5500,NaN,S,Anjali,10
848,849,0,2,"Harper, Rev. John",male,28.0,0,1,248727,33.0000,NaN,S,Anjali,1
867,868,0,1,"Roebling, Mr. Washington Augustus II",male,31.0,0,0,PC 17590,50.4958,A24,S,Anjali,0

In [90]:
np.mean(df['Fare'])

32.204207968574636

In [91]:
df['Fare'].mean()

32.204207968574636

In [92]:
max(df['Fare'])

512.3292

In [93]:
min(df['Fare'])

0.0

In [95]:
#who are the passengers who paid maximum fare
df[df['Fare'] == max(df['Fare'])].Name

258                      Ward, Miss. Anna
679    Cardeza, Mr. Thomas Drake Martinez
737                Lesurer, Mr. Gustave J
Name: Name, dtype: object

In [101]:
#Access df rows #implicit index>internal/integer index and explicit index/named>>define
df[0:100]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,new_col,family
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,Anjali,1
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,Anjali,1
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,Anjali,0
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,Anjali,1
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,Anjali,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,96,0,3,"Shorney, Mr. Charles Joseph",male,NaN,0,0,374910,8.0500,NaN,S,Anjali,0
96,97,0,1,"Goldschmidt, Mr. George B",male,71.0,0,0,PC 17754,34.6542,A5,C,Anjali,0
97,98,1,1,"Greenfield, Mr. William Bertram",male,23.0,0,1,PC 17759,63.3583,D10 D12,C,Anjali,1
98,99,1,2,"Doling, Mrs. John T (Ada Julia Bone)",female,34.0,0,1,231919,23.0000,NaN,S,Anjali,1
99,100,0,2,"Kantor, Mr. Sinai",male,34.0,1,0,244367,26.0000,NaN,S,Anjali,1

In [98]:
df.iloc[0:2]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,new_col,family
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,Anjali,1
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,Anjali,1

In [102]:
df.loc[0:2] #give me the rows whose name is 0, 1, 2

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,new_col,family
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,Anjali,1
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,Anjali,1
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,Anjali,0

In [104]:
#loc will go with named indexes, iloc will go with inbuilt index
df.loc[0:2, ['Name', 'Sex', 'Age']]

                                                Name     Sex   Age
0                            Braund, Mr. Owen Harris    male  22.0
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0
2                             Heikkinen, Miss. Laina  female  26.0

In [105]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,new_col,family
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,Anjali,1
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,Anjali,1
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,Anjali,0
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,Anjali,1
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,Anjali,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S,Anjali,0
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,Anjali,0
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S,Anjali,3
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,Anjali,0
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q,Anjali,0

In [106]:
df.iloc[0:2, 3:6]

                                                Name     Sex   Age
0                            Braund, Mr. Owen Harris    male  22.0
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0

In [110]:
list(df['Name'][2:5])

['Heikkinen, Miss. Laina',
 'Futrelle, Mrs. Jacques Heath (Lily May Peel)',
 'Allen, Mr. William Henry']

In [118]:
s = pd.Series(list(df['Name'][2:5]), index = ['a', 'b', 'c'])

In [119]:
s

a                          Heikkinen, Miss. Laina
b    Futrelle, Mrs. Jacques Heath (Lily May Peel)
c                        Allen, Mr. William Henry
dtype: object

In [130]:
s1 = pd.Series(list(df['Name'][5:8]))

In [131]:
s1

0                  Moran, Mr. James
1           McCarthy, Mr. Timothy J
2    Palsson, Master. Gosta Leonard
dtype: object

In [132]:
s+s1 #series or dataframe doesnt work with +

a    NaN
b    NaN
c    NaN
0    NaN
1    NaN
2    NaN
dtype: object

In [133]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,new_col,family
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,Anjali,1
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,Anjali,1
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,Anjali,0
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,Anjali,1
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,Anjali,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S,Anjali,0
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,Anjali,0
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S,Anjali,3
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,Anjali,0
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q,Anjali,0

In [134]:
df.drop('PassengerId', axis = 1) #row>>axis=0, axis = 1>>columns

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,new_col,family
0,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,Anjali,1
1,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,Anjali,1
2,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,Anjali,0
3,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,Anjali,1
4,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,Anjali,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S,Anjali,0
887,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,Anjali,0
888,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S,Anjali,3
889,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,Anjali,0
890,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q,Anjali,0

In [135]:
df.drop('PassengerId', axis = 1, inplace=True)

In [136]:
df

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,new_col,family
0,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,Anjali,1
1,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,Anjali,1
2,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,Anjali,0
3,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,Anjali,1
4,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,Anjali,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S,Anjali,0
887,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,Anjali,0
888,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S,Anjali,3
889,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,Anjali,0
890,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q,Anjali,0

In [137]:
df.drop(1, inplace=True)

In [138]:
df

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,new_col,family
0,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,Anjali,1
2,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,Anjali,0
3,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,Anjali,1
4,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,Anjali,0
5,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q,Anjali,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S,Anjali,0
887,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,Anjali,0
888,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S,Anjali,3
889,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,Anjali,0
890,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q,Anjali,0

In [141]:
df.set_index('Name',inplace=True) #time series data>>you will be making date time column as index

In [142]:
df

,Survived,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,new_col,family
Name,,,,,,,,,,,,
"Braund, Mr. Owen Harris",0,3,male,22.0,1,0,A/5 21171,7.2500,NaN,S,Anjali,1
"Heikkinen, Miss. Laina",1,3,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,Anjali,0
"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,1,female,35.0,1,0,113803,53.1000,C123,S,Anjali,1
"Allen, Mr. William Henry",0,3,male,35.0,0,0,373450,8.0500,NaN,S,Anjali,0
"Moran, Mr. James",0,3,male,NaN,0,0,330877,8.4583,NaN,Q,Anjali,0
...,...,...,...,...,...,...,...,...,...,...,...,...
"Montvila, Rev. Juozas",0,2,male,27.0,0,0,211536,13.0000,NaN,S,Anjali,0
"Graham, Miss. Margaret Edith",1,1,female,19.0,0,0,112053,30.0000,B42,S,Anjali,0
"Johnston, Miss. Catherine Helen ""Carrie""",0,3,female,NaN,1,2,W./C. 6607,23.4500,NaN,S,Anjali,3
"Behr, Mr. Karl Howell",1,1,male,26.0,0,0,111369,30.0000,C148,C,Anjali,0
"Dooley, Mr. Patrick",0,3,male,32.0,0,0,370376,7.7500,NaN,Q,Anjali,0

In [143]:
df.loc['Allen, Mr. William Henry']

Survived         0
Pclass           3
Sex           male
Age           35.0
SibSp            0
Parch            0
Ticket      373450
Fare          8.05
Cabin          NaN
Embarked         S
new_col     Anjali
family           0
Name: Allen, Mr. William Henry, dtype: object

In [144]:
df.iloc[3]

Survived         0
Pclass           3
Sex           male
Age           35.0
SibSp            0
Parch            0
Ticket      373450
Fare          8.05
Cabin          NaN
Embarked         S
new_col     Anjali
family           0
Name: Allen, Mr. William Henry, dtype: object

In [145]:
df.head()

,Survived,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,new_col,family
Name,,,,,,,,,,,,
"Braund, Mr. Owen Harris",0,3,male,22.0,1,0,A/5 21171,7.2500,NaN,S,Anjali,1
"Heikkinen, Miss. Laina",1,3,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,Anjali,0
"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,1,female,35.0,1,0,113803,53.1000,C123,S,Anjali,1
"Allen, Mr. William Henry",0,3,male,35.0,0,0,373450,8.0500,NaN,S,Anjali,0
"Moran, Mr. James",0,3,male,NaN,0,0,330877,8.4583,NaN,Q,Anjali,0

In [146]:
df.reset_index(inplace = True)

In [147]:
df

,Name,Survived,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,new_col,family
0,"Braund, Mr. Owen Harris",0,3,male,22.0,1,0,A/5 21171,7.2500,NaN,S,Anjali,1
1,"Heikkinen, Miss. Laina",1,3,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,Anjali,0
2,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,1,female,35.0,1,0,113803,53.1000,C123,S,Anjali,1
3,"Allen, Mr. William Henry",0,3,male,35.0,0,0,373450,8.0500,NaN,S,Anjali,0
4,"Moran, Mr. James",0,3,male,NaN,0,0,330877,8.4583,NaN,Q,Anjali,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
885,"Montvila, Rev. Juozas",0,2,male,27.0,0,0,211536,13.0000,NaN,S,Anjali,0
886,"Graham, Miss. Margaret Edith",1,1,female,19.0,0,0,112053,30.0000,B42,S,Anjali,0
887,"Johnston, Miss. Catherine Helen ""Carrie""",0,3,female,NaN,1,2,W./C. 6607,23.4500,NaN,S,Anjali,3
888,"Behr, Mr. Karl Howell",1,1,male,26.0,0,0,111369,30.0000,C148,C,Anjali,0
889,"Dooley, Mr. Patrick",0,3,male,32.0,0,0,370376,7.7500,NaN,Q,Anjali,0

In [148]:
#make dataframe is dictionary
d = {"key1": [2, 3, 4, 5],
    "key2": [4, 5, 6, 7],
    "key3": [2, 3, 4, 5]}

In [149]:
d

{'key1': [2, 3, 4, 5], 'key2': [4, 5, 6, 7], 'key3': [2, 3, 4, 5]}

In [150]:
pd.DataFrame(d)

   key1  key2  key3
0     2     4     2
1     3     5     3
2     4     6     4
3     5     7     5

In [155]:
#make dataframe is dictionary
d = {"key1": (2, 3, 4, 5),
    "key2": (4, 5, 6,8),
    "key3": (2, 3, 4, 5)}

In [156]:
pd.DataFrame(d)

   key1  key2  key3
0     2     4     2
1     3     5     3
2     4     6     4
3     5     8     5

In [157]:
df1 = pd.read_csv("taxonomy.csv.xls")

In [158]:
df1

    taxonomy_id                          name parent_id           parent_name
0           101                     Emergency       NaN                   NaN
1        101-01             Disaster Response       101             Emergency
2        101-02                Emergency Cash       101             Emergency
3     101-02-01             Help Pay for Food    101-02        Emergency Cash
4     101-02-02       Help Pay for Healthcare    101-02        Emergency Cash
..          ...                           ...       ...                   ...
285   111-01-07              Workplace Rights    111-01  Advocacy & Legal Aid
286      111-02                     Mediation       111                 Legal
287      111-03                        Notary       111                 Legal
288      111-04                Representation       111                 Legal
289      111-05  Translation & Interpretation       111                 Legal

[290 rows x 4 columns]

In [159]:
df1.shape

(290, 4)

In [160]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 290 entries, 0 to 289
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   taxonomy_id  290 non-null    object
 1   name         290 non-null    object
 2   parent_id    279 non-null    object
 3   parent_name  279 non-null    object
dtypes: object(4)
memory usage: 9.2+ KB

In [161]:
df1.dtypes

taxonomy_id    object
name           object
parent_id      object
parent_name    object
dtype: object

In [163]:
df1.isnull()

     taxonomy_id   name  parent_id  parent_name
0          False  False       True         True
1          False  False      False        False
2          False  False      False        False
3          False  False      False        False
4          False  False      False        False
..           ...    ...        ...          ...
285        False  False      False        False
286        False  False      False        False
287        False  False      False        False
288        False  False      False        False
289        False  False      False        False

[290 rows x 4 columns]

In [164]:
df1.isnull().sum()

taxonomy_id     0
name            0
parent_id      11
parent_name    11
dtype: int64

In [166]:
df1

    taxonomy_id                          name parent_id           parent_name
0           101                     Emergency       NaN                   NaN
1        101-01             Disaster Response       101             Emergency
2        101-02                Emergency Cash       101             Emergency
3     101-02-01             Help Pay for Food    101-02        Emergency Cash
4     101-02-02       Help Pay for Healthcare    101-02        Emergency Cash
..          ...                           ...       ...                   ...
285   111-01-07              Workplace Rights    111-01  Advocacy & Legal Aid
286      111-02                     Mediation       111                 Legal
287      111-03                        Notary       111                 Legal
288      111-04                Representation       111                 Legal
289      111-05  Translation & Interpretation       111                 Legal

[290 rows x 4 columns]

In [165]:
df1.dropna()

    taxonomy_id                          name parent_id           parent_name
1        101-01             Disaster Response       101             Emergency
2        101-02                Emergency Cash       101             Emergency
3     101-02-01             Help Pay for Food    101-02        Emergency Cash
4     101-02-02       Help Pay for Healthcare    101-02        Emergency Cash
5     101-02-03          Help Pay for Housing    101-02        Emergency Cash
..          ...                           ...       ...                   ...
285   111-01-07              Workplace Rights    111-01  Advocacy & Legal Aid
286      111-02                     Mediation       111                 Legal
287      111-03                        Notary       111                 Legal
288      111-04                Representation       111                 Legal
289      111-05  Translation & Interpretation       111                 Legal

[279 rows x 4 columns]

In [167]:
df1

    taxonomy_id                          name parent_id           parent_name
0           101                     Emergency       NaN                   NaN
1        101-01             Disaster Response       101             Emergency
2        101-02                Emergency Cash       101             Emergency
3     101-02-01             Help Pay for Food    101-02        Emergency Cash
4     101-02-02       Help Pay for Healthcare    101-02        Emergency Cash
..          ...                           ...       ...                   ...
285   111-01-07              Workplace Rights    111-01  Advocacy & Legal Aid
286      111-02                     Mediation       111                 Legal
287      111-03                        Notary       111                 Legal
288      111-04                Representation       111                 Legal
289      111-05  Translation & Interpretation       111                 Legal

[290 rows x 4 columns]

In [168]:
df1.dropna(axis = 1)

    taxonomy_id                          name
0           101                     Emergency
1        101-01             Disaster Response
2        101-02                Emergency Cash
3     101-02-01             Help Pay for Food
4     101-02-02       Help Pay for Healthcare
..          ...                           ...
285   111-01-07              Workplace Rights
286      111-02                     Mediation
287      111-03                        Notary
288      111-04                Representation
289      111-05  Translation & Interpretation

[290 rows x 2 columns]

In [169]:
df1[['name']].dropna(axis = 1) #for one column

                             name
0                       Emergency
1               Disaster Response
2                  Emergency Cash
3               Help Pay for Food
4         Help Pay for Healthcare
..                            ...
285              Workplace Rights
286                     Mediation
287                        Notary
288                Representation
289  Translation & Interpretation

[290 rows x 1 columns]

In [170]:
df1.fillna("missing_value_here>lalalalalala", inplace = True)

In [171]:
df1

,taxonomy_id,name,parent_id,parent_name
0,101,Emergency,missing_value_here>lalalalalala,missing_value_here>lalalalalala
1,101-01,Disaster Response,101,Emergency
2,101-02,Emergency Cash,101,Emergency
3,101-02-01,Help Pay for Food,101-02,Emergency Cash
4,101-02-02,Help Pay for Healthcare,101-02,Emergency Cash
...,...,...,...,...
285,111-01-07,Workplace Rights,111-01,Advocacy & Legal Aid
286,111-02,Mediation,111,Legal
287,111-03,Notary,111,Legal
288,111-04,Representation,111,Legal
289,111-05,Translation & Interpretation,111,Legal

In [172]:
df.groupby('Survived').mean(numeric_only=True) #for recent pandas version

            Pclass        Age     SibSp     Parch       Fare    family
Survived
0         2.531876  30.626179  0.553734  0.329690  22.117887  0.883424
1         1.953079  28.310277  0.472141  0.466276  48.328288  0.938416

In [175]:
df.groupby('Survived').describe()

         Pclass                                                 Age  \
          count      mean       std  min  25%  50%  75%  max  count
Survived
0         549.0  2.531876  0.735805  1.0  2.0  3.0  3.0  3.0  424.0
1         341.0  1.953079  0.863047  1.0  1.0  2.0  3.0  3.0  289.0

                     ...  Fare           family                                \
               mean  ...   75%       max  count      mean       std  min  25%
Survived             ...
0         30.626179  ...  26.0  263.0000  549.0  0.883424  1.830669  0.0  0.0
1         28.310277  ...  57.0  512.3292  341.0  0.938416  1.187814  0.0  0.0


          50%  75%   max
Survived
0         0.0  1.0  10.0
1         1.0  2.0   6.0

[2 rows x 48 columns]

In [179]:
#groupby with two columns
#Q. Total people for each sex, pclass

df.groupby(['Sex', 'Pclass'])['Survived'].sum()

Sex     Pclass
female  1         90
        2         70
        3         72
male    1         45
        2         17
        3         47
Name: Survived, dtype: int64

In [180]:
#To convert the result to dataframe
df.groupby(['Sex', 'Pclass'])['Survived'].sum().to_frame()

               Survived
Sex    Pclass
female 1             90
       2             70
       3             72
male   1             45
       2             17
       3             47

In [181]:
df.groupby(['Sex', 'Pclass'])['Survived'].sum().unstack()

Pclass   1   2   3
Sex
female  90  70  72
male    45  17  47

In [182]:
pd.__version__

'2.1.1'